
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: rgba(0, 0, 0, 1);
}

section {
  padding: 0 calc(10.9vw - 37px) calc(3.3vw + 48px);
}


.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  padding: 0 14px 14px;
}
.price p {
  font-size: 14px;
  color: rgba(121, 121, 121, 1);
  text-transform: uppercase;
  font-family: 'Bai Jamjuree', sans-serif;
}

.firstSection {
  background-image: url(./img/girl.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 calc(10.9vw - 37px) 27px;

}

header {
  display: flex;
  padding: calc(1vw + 13.7px) 0;
  align-items: center;
  margin-bottom: calc(-18.3vw + 373px);
}

.linesMob {
  display: none;
  margin-right: 121px;
}

nav ul {
  display: flex;
  gap: 25px;
  width: 419px;
  margin-right: 134px;
}

nav ul li {
  font-size: 12px;
  color: white;
  font-weight: 370;
}

.logo {
  width: 93px;
  margin-right: calc(36.2vw - 74px);
}

.navPannel {
  display: flex;
  gap: 20px;
}


#sale {
  width: calc(48vw + 173.5px);
  font-size: calc(3.7vw + 13.2px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
  color: white;
  margin-bottom: calc(-5.1vw + 96px);
}

#catalog {
  background-color: white;
  border-radius: 13px;
  border: 1px solid rgba(179, 179, 179, 1);
  padding: 20px 40px;
  color: rgba(94, 94, 94, 1);
  font-size: 13px;
  font-weight: 370;
  margin-bottom: calc(9.2vw + 127.4px);
  cursor: pointer;
}

.line {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}



.rounded {
  height: 60px;
  background-color: white;
  border-radius: 51px 51px 0 0;
  margin-top: -38px;
}

.roundedImages{
  display: flex;
  justify-content: center;

}

.roundedImages img{
  margin-bottom: 12px;
}

.roundText {
  font-size: 15px;
  text-align: center;
}

.category {
  display: flex;
  margin-bottom: 20px;

}


#buttonCategory {
  margin-bottom: 10px;
  margin-left: 560px;
}


#buttonCategorySecond {
  margin-bottom: 10px;
  margin-left: 918px;
}

.mostPopular {
  font-size: calc(1.2vw + 23px);
  font-weight: 400;
  margin-bottom: calc(0.7vw + 10px);
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thirdMainDiv {
  width: calc(10.9vw + 127px);
}

.thirdSectionPhotos {
  width: calc(7.9vw + 140px);
}

.firstSneakers {
  display: flex;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  gap: calc(1vw + 6px);
}

.firstSneakers span{
  font-weight: 800;
}

.secondSneakers {
  display: flex;
  font-size: 15px;
  text-align: center;
  gap: calc(1vw + 6px);
}

.secondSneakers span{
  font-weight: 800;
}

.price {
  margin-top: calc(0.5vw + 8px);
  font-size: calc(0.5vw + 8px);
}

.sneakersCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.firstSneakersCategory {
  display: flex;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  gap: calc(1vw + 6px);
}

.firstSneakersCategory span{
  font-weight: 800;
}

.secondSneakersCategory {
  display: flex;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  gap: calc(1vw + 6px);
}

.secondSneakersCategory span{
  font-weight: 800;
}

.brandNew {
  font-size: calc(1.3vw + 21px);
  font-weight: 400;
  margin-bottom: calc(0.7vw + 10px);
}

.newHot {
  display: flex;
  margin-bottom: calc(0.7vw + 10px);
}

.mainDiv {
  display: flex;
  gap: calc(1.2vw + 5px);
  font-size: calc(1.9vw + 13px);
  color: rgba(255, 255, 255, 1);
  
}


.allPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr auto; 
  gap: calc(1vw + 6px);
}

.photoContainer {
  position: relative;
}

.photoContainer img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.overlayPhotoText,
.overlayPhotoTextTwo {
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.overlayPhotoTextThree,
.overlayPhotoTextFour,
.overlayPhotoTextFive {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 40px;
}

.photoContainer:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / span 3; 
}

.photoContainer:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / span 3; 
}

.photoContainer:nth-child(3),
.photoContainer:nth-child(4),
.photoContainer:nth-child(5) {
  grid-column: 3; 
}


.walkText {
  display: flex;
  margin-bottom: 75px;
}

.walk {
  font-size: calc(1.3vw + 21px);
  font-weight: 400;
  margin-bottom: 20px;

}

#walkButton {
  margin-left: 621px;
}

.walkItems {
  display: flex;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}



.walkItems span{
  font-weight: 800;
}

.firstWalk {
  display: flex;
  gap: 60px;
}

.secondWalk {
  display: flex;
  gap: 60px;
}

.lookAt {
  text-align: center;
  margin-bottom: 13px;
}

.lookAt h2{
  font-size: calc(1.3vw +21px);
  font-weight: 400;
}

.nikeIcons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: calc(5.7vw - 11.7px);
}



.nikeImages h3{
  color: white;
  font-size: 23px;
  width: 125px;
  text-transform: uppercase;

}


.overlayText {
  position: absolute;
  top: 475px; 
  left: 70px; 
  transform: translate(-50%, -50%); 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 20px; 
  text-align: center; 
}


.overlayTextSecond {
  position: absolute;
  top: 50px; 
  left: 75px; 
  transform: translate(-50%, -50%); 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 20px; 
  text-align: center; 
}

.overlayTextThird {
  position: absolute;
  top: 475px; 
  left: 75px; 
  transform: translate(-50%, -50%); 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 20px; 
  text-align: center; 
}


.sixthSection {
  background-image: url(./img/Rectangle\ 46.png);
  background-position: center;
  background-size: cover;  
  margin-bottom: 82px;
}


.special {
  margin-bottom: 239px;
  width: calc(24.8vw + 243px);
}

.special p {
  padding: calc(2.8vw + 18px) 0;
  font-size: calc(0.6vw + 17px);
  color: white;
}


.bestPriceWaranty p {
  color: white;
  width: calc(24.8vw + 243px);
  font-size: calc(3.3vw + 13px);
  
}

.coupleText {
  font-size: calc(1.3vw + 21px);
  font-weight: 400;
  margin-bottom: calc(4.5 + 7px);
}

.coupleElements {
  display: flex;
  justify-content: space-between;
}
.calcButton {
  display: flex;
  gap: 4px;
}

.priceButton {
  border-radius: 8px;
  border-color: white;
  width: 107px;
  height: 30px;
}

#lineOne{
  align-items: center;
  margin-bottom: 23px;
  width: 150px;
}

#elipseOne, #elipseTwo {
  margin-bottom: 13px;

}

.someItems {
  display: flex;
}

#goButton {
  margin-left: 37px;
  margin-right: 35px;
  margin-top: -30px;
}

.radioPrice p{
  margin-bottom: 25px;

}





 


















































@media (max-width: 450px) {
  .firstSection {
    background-position: 81%;
  }

  .linesMob {
    display: flex;
  }

  nav ul {
    display: none;
  }

  #hearthPhoto {
    display: none;
  }

  #bagPhoto {
    order: 2;
  }

  #searchPhoto {
    order: 1;
  }
  
  .allPhotos {
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
  }

  .photoContainer:nth-child(1),
  .photoContainer:nth-child(2),
  .photoContainer:nth-child(3),
  .photoContainer:nth-child(4) {
    grid-column: auto; 
    grid-row: auto; 
  }

  .photoContainer:nth-child(5) {
    display: none; 
  }

  .photoContainer img {
    aspect-ratio: 1; 
    object-fit: cover; 
  }

  .overlayPhotoText,
  .overlayPhotoTextTwo,
  .overlayPhotoTextThree,
  .overlayPhotoTextFour {
    font-size: 14px; 
    padding: 5px; 
  }

  .sixthSection {
    width: 433px; 
    height: 408px;
    background-image: url(./img/Rectangle\ 74.png);
  }

  


  #buttonCategory {
    display: none; 
  }
  #buttonCategorySecond {
    display: none; 
  }

  #walkButton {
    display: none; 
  }

  #arrowTwo, #arrowOne {
    display: none;
  }

  #nike {
    width: 71px;
    height: 48px;
  }

  .radioPrice {
    display: none;
  }



}



