

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;                                               
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
}

section {
  padding: 0 calc(10.9vw - 36.8px) calc(3.2vw + 48px);
}

h1, h2, h3, h4 {
  font-family: 'Manrope', sans-serif;
  
}



.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  padding: 0 14px 14px;
}
.price p {
  font-size: 14px;
  color: rgba(121, 121, 121, 1);
  text-transform: uppercase;
  font-family: 'Manrope', sans-serif;
}

.firstSection {
  background-image: url(./img/girl.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 calc(10.2vw - 26.6px) 27px;
}


.discountFirst {
  background-image: url(./img/discountfirst.svg);
  display: flex;
  background-repeat: no-repeat;
  background-position: top 15px right;
  width: 610px;
}

.discountFirstMobile {
 position: absolute;
 top: 450px;
}


header {
  display: flex;
  padding: calc(0.8vw + 16px) 0;
  align-items: center;
  margin-bottom: calc(-17.1vw + 356.6px);
}

.linesMob {
  display: none;
  margin-right: 121px;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 25px;
}

nav ul {
  display: flex;
  gap: 25px;
  width: 419px;
  margin-right: 134px;
}

nav ul li {
  font-size: 12px;
  color: white;
  font-weight: 370;
}

.logo {
  width: calc(2.1vw + 62.3px);
  margin-right: calc(33.9vw - 40px);
}

.navPannel {
  display: flex;
  gap: calc(0.6vw + 12px);
}


#sale {
  font-size: calc(3.3vw + 18px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
  color: white;
  margin-bottom: calc(-4.8vw + 91px);
  
}

#saleTwo {
  font-size: calc(3.3vw + 18px);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
  color: white;
  margin-bottom: calc(-4.8vw + 91px);
}

#catalog {
  background-color: white;
  border-radius: 13px;
  border: 1px solid rgba(179, 179, 179, 1);
  padding: 20px 40px;
  color: rgba(94, 94, 94, 1);
  font-size: 13px;
  font-weight: 370;
  margin-bottom: calc(8.6vw + 136px);
  cursor: pointer;
}

.line {
  display: flex;
  justify-content: center;
}

.line img{
  
  width: calc(3.7vw + 346px);
  
  margin-bottom: 35px;
}



.rounded {
  height: 60px;
  background-color: white;
  border-radius: 51px 51px 0 0;
  margin-top: -38px;
}

.roundedImages{
  display: flex;
  justify-content: center;

}

.roundedImages img{
  margin-bottom: 12px;
}

.roundText {
  font-size: 15px;
  text-align: center;
}

.category {
  display: flex;
  margin-bottom: 20px;

}


#buttonCategory {
  margin-bottom: 10px;
  margin-left: 560px;
}


#buttonCategorySecond {
  margin-bottom: 10px;
  margin-left: 918px;
}

.mostPopular {
  font-size: calc(1.2vw + 23px);
  font-weight: 400;
  margin-bottom: calc(0.6vw + 11px);
}


.hotAndHeartMobile {
  display: flex;
  padding: 12px 14px;
  gap: 105px;
}

.hotAndHeartMobilePreloved {
  display: flex;
  padding: 12px 14px;
  gap: 80px;
}

.sneakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(1vw + 5.7px);

}

.allHearts {
  width: calc(0.6vw + 8.5px);
}

.hotAndHeart {
  display: flex;
  gap: calc(6.5vw + 76px);
  padding: 12px 14px;
}

.onlyHot {
  width: calc(1.9vw + 32px);
}

.onlyHotTwo {
  width: calc(2.5vw + 29px);
}

.thirdMainDiv {
  border: 1px solid;
  border-radius: 10px;
  border-color: rgba(214, 214, 214, 1);
}


.thirdSectionPhotos {
  width: calc(7.4vw + 147px);
}

.thirdSection {
  position: relative;
}

.arrow {
  position: absolute;
  right: 120px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrowMobile {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
} 

.hotAndHeartExcept {
  display: flex;
  padding: 12px 14px;
  gap: calc(3vw + 57px);
}


.hotAndHeartExceptTwo {
  display: flex;
  padding: 12px 14px;
  gap: calc(6.9vw + 70px);
}



.firstSneakers {
  display: flex;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  gap: calc(0.9vw + 7px);
}


.firstSneakers span{
  font-weight: 800;
}

.secondSneakers {
  display: flex;
  font-size: 15px;
  text-align: center;
  gap: calc(0.9vw + 7px);
}

.secondSneakers span{
  font-weight: 800;
}


.smthnNew {
  position: relative;
}

.arrowSecond {
  position: absolute;
  right: 123px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrowSecondMobile {
  position: absolute;
  right: 13px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.price {
  margin-top: calc(0.5vw + 8px);
  font-size: calc(0.5vw + 8px);
}

.radioMob {
  display: none;
  display: flex;
}

.sneakersCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(1vw + 5.7px);
}

.firstSneakersCategory {
  display: flex;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  gap: calc(0.9vw + 7px);
}

.firstSneakersCategoryTwo {
  display: flex;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  gap: calc(0.9vw + 7px);
}

.firstSneakersCategory span{
  font-weight: 800;
}

.secondSneakersCategory {
  display: flex;
  justify-content: center;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  gap: calc(0.9vw + 7px);
}

.secondSneakersCategory span{
  font-weight: 800;
}

.brandNew {
  font-size: calc(1.2vw + 22px);
  font-weight: 400;
  margin-bottom: calc(0.6vw + 11px);
}

.newHot {
  display: flex;
  margin-bottom: calc(0.6vw + 11px);
}

.sneakersBorder {
  border: 1px solid;
  border-radius: 15px;
  border-color: rgba(214, 214, 214, 1);
}

.mainDiv {
  display: flex;
  gap: calc(1.1vw + 6px);
  font-size: calc(1.8vw + 14px);
  color: rgba(255, 255, 255, 1);
  
}


.allPhotos {
  display: grid;
  grid-template-columns: 1fr 1fr auto; 
  gap: calc(1.1vw + 6px);
}

.photoContainer {
  position: relative;
}

.photoContainer img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.overlayPhotoText,
.overlayPhotoTextTwo {
  font-size: 40px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.overlayPhotoTextThree,
.overlayPhotoTextFour,
.overlayPhotoTextFive {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 40px;
}

.photoContainer:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / span 3; 
}

.photoContainer:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / span 3; 
}

.photoContainer:nth-child(3),
.photoContainer:nth-child(4),
.photoContainer:nth-child(5) {
  grid-column: 3; 
}

.walkText {
  display: flex;
  margin-bottom: 20px;
}

.walk {
  font-size: calc(1.2vw + 22px);
  font-weight: 400;
  margin-bottom: calc(0.6vw + 10px);
}

.pinkHot {
  display: flex;
  padding: 12px 14px;
  gap: 100px;
}

.mobileProcents {
  display: flex;
  padding: 12px 14px;
  gap: 100px;
}

.procentsMobile {
  width: 45px;
}

.prelovedMobile {
  display: flex;
  gap: 70px;
  padding: 12px 14px;

}

.mobilePreloved {
  width: 73px;
}

#walkButtonTwo {
  margin-left: 900px;
}

#walkButton {
  margin-left: 640px;
}

.walkItems {
  display: flex;
  font-size: calc(0.3vw + 11px);
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc(1vw + 5.7px);
}

.walkItems span{
  font-weight: 800;
}

.firstWalk {
  display: flex;
  gap: calc(0.9vw + 6.6px);
}

.walkHeart {
  display: flex;
  padding: 12px 14px;
}

.walkHeart img {
  width: calc(8.4vw + 134px);
}

.walkHeartOnly {
  border: 1px solid;
  border-radius: 15px;
  border-color: rgba(190, 190, 190, 1);
}

.walkNewLogo {
  display: flex;
  padding: 12px 14px;
}

.walkBorder {
  border: 1px solid;
  border-radius: 15px;
  border-color: rgba(190, 190, 190, 1);
}


.secondWalk {
  display: flex;
  gap: calc(0.9vw + 6.6px);
}

.fiveSection {
  position: relative;
}

.fiveSectionTwo {
  position: relative;
}

.arrowFive {
  position: absolute;
  right: 105px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrowThird {
  position: absolute;
  right: 105px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrowThirdMobile {
  position: absolute;
  right: 13px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.lookAtTitle {
  font-size: calc(1.2vw + 22.7px);
  margin-bottom: calc(1.3vw + 7.3px);
  text-align: center;
}

.nikeTitle {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(5.5vw - 7.7px);
}

.nikeLines {
  display: flex;
}

.nikeRemove {
  display: flex;
  justify-content: center;
  width: 100%;
}

.lineRemove {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: -35px;
}

#nikeLogo {
    width: calc(6.4vw + 48px);
  }


.nikeCardsFirst {
  background-image: url(./img/slidenikeFirst.svg);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 387px;
  height: 534px;
  padding: 29px 28px 19px;
  
}


.nikeCardsFirst h3 {
  color: white;
  font-size: 23px;
  text-transform: uppercase;
  position: relative;
  bottom: -420px;
}

.firstNikeArrow {
  position: absolute;
  top: 3%;
  left: 330px;
}

.nikeCardsSecond {
  background-image: url(./img/slidenikeSecond.svg);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 387px;
  height: 534px;
  padding: 29px 28px 19px;
}

.nikeCardsSecond h3 {
  color: white;
  font-size: 23px;
  text-transform: uppercase;
}

.secondNikeArrow {
  position: absolute;
  top: 3%;
  left: 730px;
}

.nikeCardsThird {
  background-image: url(./img/slidenikeThird.svg);
  background-repeat: no-repeat;
  border-radius: 15px;
  width: 387px;
  height: 534px;
  padding: 29px 28px 19px;
}

.nikeCardsThird h3 {
  color: white;
  font-size: 23px;
  text-transform: uppercase;
  position: relative;
  bottom: -420px;
}


.thirdNikeArrow {
  position: absolute;
  top: 3%;
  left: 1130px;
}


.blondGirl {
  background-image: url(./img/blondgirlPK.svg);
  background-position: center;
  background-size: cover;
  width: calc(79.9vw + 52.3px);
  height: calc(7.1vw + 382.3px);
  padding: calc(2.5vw + 22px) calc(4.4vw + 1px) 42px;
  margin-left: calc(10.2vw - 26.7px);
  margin-right: calc(10.2vw - 26.7px);
  margin-bottom: calc(1.9vw + 54px);
  border-radius: 20px;
  position: relative;
}

.specialArrow {
  position: absolute;
  right: 10px; 
  top: 10%;
  transform: translateY(-50%);
  cursor: pointer;
}

.roundAndArrow {
  position: absolute;
  right: 50px; 
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.blondGirlText {
  font-size: calc(0.6vw + 18px);
  color: white;
  margin-bottom: calc(-4.6vw + 305.7px);
}

.blondGirlTitle {
  width: calc(22.2vw + 250px);
  font-size: calc(3.1vw + 16px);
  color: white;
  line-height: 100%;
}

.blondLines {
  padding: 0 0 30px;
  margin-left: 660px;
}

.coupleSection {
  position: relative;
}

.arrowFour {
  position: absolute;
  right: 103px; 
  top: 53%;
  transform: translateY(-50%);
  cursor: pointer;
}

.coupleText {
  font-size: calc(1.5vw + 18.7px);
  font-weight: 400;
  margin-bottom: calc(4.2vw + 12px);
}

.coupleBorder {
  border: 1px solid;
  border-radius: 15px;
  border-color: rgba(190, 190, 190, 1);
}

.coupleHeart {
  display: flex;
  padding: 12px 14px;
}

.coupleHeart img {
  width: calc(8.4vw + 134px);
}

.coupleElements {
  display: flex;
  justify-content: space-between;
}

.coupleHeartMobile {
  display: flex;
  padding: 12px 14px;
  gap: 100px;

}


.sneakersCategoryTwo {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.calcButton {
  display: flex;
  gap: 4px;
}

.priceButton {
  border-radius: 8px;
  border-color: white;
  width: 107px;
  height: 30px;
}

#lineOne{
  align-items: center;
  margin-bottom: 23px;
  width: 150px;
}

#elipseOne, #elipseTwo {
  margin-bottom: 13px;

}

.someItems {
  display: flex;
}

#goButton {
  margin-left: 37px;
  margin-right: 35px;
  margin-top: -30px;
}

.radioPrice p {
  margin-bottom: 25px;

}

.lineBetween {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.specialCategoryTitle {
  font-size: 40px;
  margin-bottom: 41px;
  color: rgba(62, 62, 62, 1);
}



.dealerPreLoved {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 19px;
  justify-content: center;
}

.dealerCard {
  padding: calc(2vw + 32.7px) calc(3vw + 12.3px) calc(1.1vw + 35px);
  background-image: url(./img/nikeBeige.svg);
  background-position: center;
  background-size: cover;
  width: calc(19.3vw + 312px);
  height: calc(13.7vw + 287.7px);
  border-radius: calc(0.4vw + 7.7px);
}

.dealerCard p {
  font-size: calc(0.7vw + 15.3px);
  margin-bottom: calc(2.9vw + 60.7px);
  color: white;
}
.dealerCard h4 {
  font-size: calc(1.1vw + 24px);
  margin-bottom: calc(4.1vw + 83.3px);
  color: white;
}
.dealerCard span {
  font-size: calc(0.7vw + 15.3px);
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}


.preLovedCard {
  padding: calc(2vw + 32.7px) calc(3vw + 12.3px) calc(1.1vw + 35px);
  background-image: url(./img/preLovedGirl.svg);
  background-position: center;
  background-size: cover;
  width: calc(19.3vw + 312px);
  height: calc(13.7vw + 287.7px);
  border-radius: calc(0.4vw + 7.7px);
}

.preLovedCard p {
  font-size: calc(0.7vw + 15.3px);
  margin-bottom: calc(2.9vw + 60.7px);
  color: white;
}
.preLovedCard h4 {
  font-size: calc(1.1vw + 24px);
  margin-bottom: calc(4.1vw + 83.3px);
  color: white;
}
.preLovedCard span {
  font-size: calc(0.7vw + 15.3px);
  color: white;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.sneakersFour {
  background-image: url(./img/Rectangle\ 74.svg);
  background-position: center;
  background-size: cover;
  width: calc(79.6vw + 53.3px);
  margin-left: calc(10.2vw - 26.7px);
  margin-right: calc(10.2vw - 26.7px);
  margin-bottom: calc(1.7vw + 4px);
  padding: calc(1.2vw + 28.7px) calc(1.9vw + 16.3px) calc(-0.2vw + 26.7px);
  border-radius: 13px;
}

.sellCoupleTitle {
  font-size: calc(1.2vw + 22.7px);
  margin-bottom: calc(-0.6vw + 24.3px);
  width: calc(24.1vw + 163.3px);
  color: rgba(62, 62, 62, 1);
  font-weight: 390;
}

.sellCoupleText {
  font-size: 18px;
  margin-bottom: 39px;
  width: calc(11.1vw + 250px);
  color: rgba(62, 62, 62, 1);
}

.greyButton {
  background: linear-gradient(to right, rgba(9, 9, 9, 1), rgba(136, 131, 126, 1));
  color: rgba(255, 255, 255, 1);
  padding: 20px 40px;
  font-size: 13px;
  border-radius: 13px;
  border: none;
}

.saleSevenProcent {
  background-image: url(./img/Rectangle\ 75.svg);
  background-position: center;
  background-size: cover;
  width: calc(79.6vw + 53.3px);
  margin-left: calc(10.2vw - 26.7px);
  margin-right: calc(10.2vw - 26.7px);
  margin-bottom: calc(3.1vw + 33px);
  padding: calc(1.2vw + 28.7px) calc(1.9vw + 16.3px) calc(1.3vw + 11.3px);
  border-radius: 13px;
}

.saleTitle {
  font-size: calc(1.2vw + 22.7px);
  margin-bottom: calc(-4vw + 72.3px);
  color: rgba(255, 255, 255, 1);
  font-weight: 390;
}

.saleText {
  font-size: 18px;
  margin-bottom: calc(4.9vw + 18.3px);
  width: calc(18vw + 215.3px);
  color: rgba(255, 255, 255, 1);
}

.subscribe {
  display: flex;
  gap: calc(0.1vw + 5.5px);
}

.subscribe input {
  border: 1px;
  border-radius: 100px;
  width: calc(4.9vw + 162px);
  padding-left: 25px;
}

input::placeholder {
  color: rgba(217, 217, 217, 1);
}


.subscribe button {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  padding: calc(0.6vw + 11px) calc(2.8vw + 20px);
  font-size: 14px;
  border-radius: 35px;
  border: none;
}

.footerCatalog {
  font-size: 23px;
  margin-bottom: 18px;
}

.footerCatalogList{
  font-size: 16px;
}

.footerMenu {
  font-size: 23px;
  margin-bottom: 18px;

}

.footerMenuList ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footerCatalogList ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footerSupport {
  font-size: 23px;
  margin-bottom: 18px;
}

.footerSupportList {
  margin-left: 11px;
}

.footerSupportList ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.lastFooterDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 54px;
  
}


.footerLine {
  display: flex;
  justify-content: center;
  padding: 24px 0 73px;
}

.footerDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: left;
  margin-bottom: 83px;
  padding: 0 11px;
  
}

.limitedText {
  margin-bottom: 49px;
  font-size: 15px;
  color: rgba(123, 123, 123, 1);
}

.dealerLogoBlack {
  margin-bottom: 41px;
}


.lastFooterDiv p {
  color: rgba(114, 114, 114, 1);
}

.planeImage {
  margin-right: 13px;
}

.footerDivMobile {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin-bottom: 83px;
}


.footerCatalogMobileMainDiv {
  display: flex;
  gap: 60px;

}

.footerCatalogMobile {
  font-size: 23px;
  margin-bottom: 18px;
}

.footerCatalogListMobile {
  font-size: 16px;
}

.footerMenuMobile {
  font-size: 23px;
  margin-bottom: 18px;

}

.footerMenuListMobile ul li {
  font-size: 16px;
  margin-bottom: 18px;
}

.footerMenuListMobile img {
  width: 26px;
}

.footerCatalogListMobile ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footerSupportMobile {
  font-size: 23px;
  margin-bottom: 18px;
}

.footerSupportListMobile ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.footerSupportMobileMainDiv {
  display: flex;
  margin-top: -60px;
  margin-right: 160px;
  margin-left: 10px;
  margin-bottom: 62px;
}



.lastFooterDivMobile {
  gap: 30px;
  margin-left: 10px;
}

.mobileLineFooter {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: -40px;
}

.lastFooterDivMobile ul li {
  margin-bottom: 12px;
  font-size: 16px;
  color: rgba(114, 114, 114, 1);
}









@media (max-width: 450px) {
  .firstSection {
    background-position: 81%;
  }

  .discountFirst {
    display: none;
  }

  .prelovedhot {
    display: none;
  }
  

  .linesMob {
    display: block;
  }

  nav {
    display: none;
  }

  .roundedImages {
    border-color: orange;
  }

  #hearthPhoto {
    display: none;
  }

  #bagPhoto {
    order: 2;
  }

  #searchPhoto {
    order: 1;
  }
  
  .hotAndHeart {
    display: none;
  }

  .redNike {
    order: 2;
  }


  

  /* .sneakersCategoryTwo {
    display: none;
  } */

  .allPhotos {
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
  }

  .photoContainer:nth-child(1),
  .photoContainer:nth-child(2),
  .photoContainer:nth-child(3),
  .photoContainer:nth-child(4) {
    grid-column: auto; 
    grid-row: auto; 
  }

  .photoContainer:nth-child(5) {
    display: none; 
  }

  .photoContainer img {
    aspect-ratio: 1; 
    object-fit: cover; 
  }

  .overlayPhotoText,
  .overlayPhotoTextTwo,
  .overlayPhotoTextThree,
  .overlayPhotoTextFour {
    font-size: 14px; 
    padding: 5px; 
  }

  #buttonCategory {
    display: none; 
  }

  .arrowsNike {
    display: none;
  }

  .blondGirl {
    background-image: url(./img/blondgirlMOB.svg);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
  .roundAndArrow {
    display: none;
  }
  
  .coupleElements {
    justify-content: center;
    text-align: center;
    white-space: nowrap;
  }

  .radioMob {
    justify-content: center;
  }

  .specialCategoryTitle {
    display: none;
  }

  #buttonCategorySecond {
    display: none; 
  }

  #walkButton {
    display: none; 
  }

  .radioPrice {
    display: none;
  }

  .categoryFeautures {
    display: none;
  }

  .fiveSectionTwo {
    display: none;
  }

  #walkButtonTwo {
    display: none;
  }

  .logo {
    margin-left: -30px;
  }

  .fiveSectionTwo {
    display: none;
  }

  #walkButtonTwo {
    display: none;
  }

  .lineBetween {
   display: none;
  }
  .arrowFour {
    display: none;
  }

  .footerLine {
    display: none;
  }

  .nikeLinesLines {
    display: none;
  }

  
  .blondLines {
    display: none;
  }

  .walkHeart {
    display: none;
  }


  .greyButton {
    background: black;
    color: white;
  }

  .saleSevenProcent {
    background-image: url(./img/Rectangle\ 109.svg);
  }

  #blackSubscribe {
    background-color: black;
    color: white;
  }

  .footerCatalogList,
  .footerCatalog,
  .footerMenuList,
  .footerMenu,
  .footerSupportList,
  .footerSupport {
    display: none;
  }

  .planeImage {
    display: none;
  }

  .lastFooterDiv {
    display: none;
  }

  .radioMob {
    display: flex;
  }

  .coupleHeart {
    display: none;
  }

  .firstSneakersCategoryTwo {
    display: none;
  }
  
  .arrow {
    display: none;
  }

  .arrowSecond {
    display: none;
  }

  .arrowThird {
    display: none;
  }

}

@media (min-width: 450px) {
  .footerCatalogListMobile,
  .footerCatalogMobile,
  .footerMenuListMobile,
  .footerMenuMobile,
  .footerSupportListMobile,
  .footerSupportMobile {
    display: none;
  }

  #prelovedRemove {
    display: none;
  }

  .arrowSecondMobile {
    display: none;
  }

  .arrowMobile {
    display: none;
  }

  .arrowThirdMobile {
    display: none;
  }

  .nikeRemove {
    display: none;
  }

  .lineRemove {
    display: none;
  }

  .mobileLineFooter {
    display: none;
  }

  .lastFooterDivMobile {
    display: none;
  }
  .radioMob {
    display: none;
  }

  #saleTwo {
    display: none;
  }

  .hotAndHeartMobilePreloved {
    display: none;
  }

  .hotAndHeartMobile {
    display: none;
  }

  .discountFirstMobile {
    display: none;
  }

  .mobileLines {
    display: none;
  }

  .specialArrow {
    display: none;
  }

  .pinkHot {
    display: none;
  }
  .mobileProcents {
    display: none;
  }

  .prelovedMobile {
    display: none;
  }
  .coupleHeartMobile {
    display: none;

  }




}


